ErrorDocument 404 http://localhost/W-AR-Wellness-Technology/404.html

RewriteEngine on

RewriteRule ^Home index.html [NE,L]

RewriteRule ^Personal-Privacy-Statement personal-privacy-statement.html [NE,L]

RewriteRule ^Refund-Policy refund-policy.html [NE,L]

