ErrorDocument 404 http://localhost/W-AR-Wellness-Technology/404.html

RewriteEngine on

RewriteRule ^Home index.html [NE,L]

RewriteRule ^Personal-Privacy-Statement personal-privacy-statement.html [NE,L]

RewriteRule ^Refund-Policy refund-policy.html [NE,L]

RewriteRule ^Product-3 product-3.html [NE,L]

RewriteRule ^Product-2 product-2.html [NE,L]

RewriteRule ^Product-1 product-1.html [NE,L]

RewriteRule ^Coming-Soon coming-soon.html [NE,L]

RewriteRule ^Terms-and-Condition terms-and-condition.html [NE,L]

